.my-section {
  padding: 60px 0;
}

.my-section .img-fluid {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-bottom: 15px;
}

.my-section h4 {
  margin-bottom: 20px;
}

.my-section h5 {
  margin-top: 10px;
  font-size: 1.25rem;
}

.my-section p {
  font-size: 1rem;
  color: #6c757d;
}
