
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

.car-list {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    margin: 20px 0; 
  }
  
  .car-list-item {
    margin: 10px; 
    text-align: center; 
  }
  .custom-list-item {
    background-color: #E37310; 
    color: #ffffff; 
    border: none; 
    font-family: "Cabin", sans-serif; 
    font-weight: bold; 
    font-style: italic; 
    cursor: pointer; 
    margin-bottom: 10px; 
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out; 
  }
  
  .custom-list-item:hover {
    background-color: #d2620f; 
    transform: translateY(-5px); 
  }
  
  .custom-list-item.active {
    transform: translateY(-5px); 
    background-color: #d2620f; 
  }

.car-details-table {
  background-color: #E37310 !important;
  color: #ffffff !important;
  border: none;
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  font-style: italic;
}

.car-details-table td, 
.car-details-table th {
  background-color: #E37310 !important; 
  color: #ffffff !important;
  border-color: #ffffff !important; 
}

.car-details-header {
  background-color: #e37310 !important;
  color: #ffffff !important;
  font-weight: bold;
  font-size: 1.2rem;
}

.car-reserve-button {
  background-color: #E37310 !important;
  color: #000000 !important;
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  font-style: italic;
  border: none;
  margin-top: 10px;
  width: 100%;
}

.car-reserve-button:hover {
  background-color: #cf680e !important;
}

