@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");



h1,h2,h3,h4,p,nav{
    font-family: "Cabin", sans-serif;
    font-weight: bold;


}

.btn-custom {
    background-color: #E37310; 
    color: #ffffff; 
    border: none; 
    font-family: "Cabin", sans-serif;
    font-weight: bold;
    font-style:italic;
    font-weight: 600; 
    cursor: pointer; 
    margin: 1em;
    transition: background-color 0.3s ease; 
  }
  
  .btn-custom:hover {
    background-color: #d46209; 
  }
  
  .nav-right .btn {
    padding: 0.5rem 1rem; 
  }

  .btn-logout {
    color: #ffffff;
    border: none;
    font-family: "Cabin", sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin: 1em;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
  }
  
  /* Estilo do scrollbar */
::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #E37310; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c95e0d; 
}

